<h1>Lecture View</h1>

<% if is_instructor?  %>
    <h1>Viewing as Instructor</h1>
    
    <%= form_with scope: :lecture, url: url_for(:action => 'terminate', :lec_id => params[:lec_id]), method: "post" do %>
        <%= submit_tag 'End Lecture' %>
    <%end%>

<%end%>

<% if is_student? %>
    <h1>Viewing as Student</h1>
<%end%>

<%= button_to "Go to Dashboard", dashboard_path, method: :get%>

