/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.welcome{
	color: white;
	font-size: 70px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	text-align: center;
}

.subtitle {
	margin-left: auto;
	margin-right: auto;
	color: white;
	font-size: 30px;
	margin-top: 1px;
	text-align: center;

}

.greeting {
	margin-left: auto;
	margin-right: auto;
	color: white;
	font-size: 70px;
	margin-top: 1px;
	text-align: center;
}

.welcome_div {
	width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    height: 500px;
    background-color: #D9FCFC;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    font-family: Arial;
    align-items: center;
}

form {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    height: auto;
}

.spacer30 {
	height: 30px;
}

label {
	color: white;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
	font-size: 20px;
}

input[type="text"], input[type="password"]{
	color: #ABD5D9;
	box-shadow: 0px 0px 0px transparent;
    border: none;
    outline: none;
    text-shadow: 0px 0px 0px transparent;
    margin-bottom: 30px;
    height: 20px;
}

input[type="text"]:hover, input[type="password"]:hover, input[type="text"]:active, input[type="password"]:active {
	box-shadow: 0px 0px 0px transparent;
    border: none;
    outline: none;
    text-shadow: 0px 0px 0px transparent;
}

input[type="submit"] {
	background-color: #ABD5D9;
	height: 70px;
	width: 300px;
	border-radius: 25px;
	font-size: 40px;
	color: white;
	border: none;
}

input[type="submit"]:hover {
	color: #E7E7E7;
	box-shadow: 0px 0px 0px transparent;
    border: none;
    outline: none;
    text-shadow: 0px 0px 0px transparent;
}

input[type="submit"]:focus {
	outline: none;
	box-shadow: 0px 0px 0px transparent;
    border: none;
    text-shadow: 0px 0px 0px transparent;
}


